{{ template "header.html" .}}
<h3>Message class</h3>
<div class="container-fluid">

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label for="inputClass" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
      <input type="text" name="msg_class" class="form-control" id="inputClass" placeholder="" value="{{ .ID.Hex }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputClass" class="col-sm-2 control-label">PayloadType</label>
    <div class="col-sm-10">
      <input type="text" name="msg_class" class="form-control" id="inputClass" placeholder="" value="{{ .PayloadType }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputClass" class="col-sm-2 control-label">Class</label>
    <div class="col-sm-10">
      <input type="text" name="msg_class" class="form-control" id="inputClass" placeholder="" value="{{ .Class }}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <input type="text" name="msg_type" class="form-control" id="inputType"  value="{{ .Type }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Tags</label>
    <div class="col-sm-10">
      <input type="text" name="tags" class="form-control" id="inputType"  value="{{ .Tags }}" placeholder="tags separated by space">
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input type="text" name="context" class="form-control" id="inputType"  value="{{ .Author }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
            <textarea name="msg_template" class="form-control col-sm-10" id="msg_template" rows="5" >{{ .Description }}</textarea>
        </div>
  </div>

  <div class="form-group">
        <label for="inputType" class="col-sm-2 control-label">Message Examples</label>
        {{ range .MsgExamples}}
        <div class="col-sm-10">
            <textarea name="msg_template" class="form-control col-sm-10" id="msg_template" rows="20" >{{ .  }}</textarea>
        </div>
        {{ end }}
  </div>
  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" name = "action" value ="save" class="btn btn-default">Save changes</button>
        <button type="submit" name = "action" value = "delete" class="btn btn-default">Delete</button>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
</div>

{{ template "footer.html" .}}